:root {
  --gutter: 20px;
  --bg: #5b9c5a;
  --color2: #5af7bb;
  --color3: #16d8fa;
  --color4: #2124ee;
  --color5: #ddd;
}
body {
  margin: 0;
}

.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}

.bg2 {
  background-color: var(--color2);
}
.bg3 {
  background-color: var(--color3);
}
.bg4 {
  background-color: var(--color4);
}
.a {
  background-color: var(--color2);
}
.b {
  background-color: var(--color3);
}
.c {
  background-color: var(--color4);
}
.d {
  background-color: var(--color5);
}
