:root,
[data-bs-theme="light"] {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), 0.1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg);
}
[data-bs-theme="dark"] {
  --bd-violet: #9461fb;
  --bd-violet-bg: #712cf9;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(84, 33, 187, 0.5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22;
}
#carbonads {
  position: static;
  display: block;
  max-width: 400px;
  padding: 15px 15px 15px 160px;
  margin: 2rem auto 0;
  overflow: hidden;
  font-size: 0.8125rem;
  line-height: 1.4;
  text-align: left;
  background-color: var(--bs-tertiary-bg);
}
#carbonads a {
  color: var(--bs-body-color);
  text-decoration: none;
}
@media (min-width: 576px) {
  #carbonads {
    border-radius: 0.5rem;
  }
}
.carbon-img {
  float: left;
  margin-left: -145px;
}
.carbon-poweredby {
  display: block;
  margin-top: 0.75rem;
  color: var(--bs-body-color) !important;
}
.bd-code-snippet {
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
@media (min-width: 768px) {
  .bd-code-snippet {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}
.bd-example {
  --bd-example-padding: 1rem;
  position: relative;
  padding: var(--bd-example-padding);
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
.bd-example::after {
  display: block;
  clear: both;
  content: "";
}
@media (min-width: 768px) {
  .bd-example {
    --bd-example-padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}
.bd-example + p {
  margin-top: 2rem;
}
.bd-example > .form-control + .form-control {
  margin-top: 0.5rem;
}
.bd-example > .nav + .nav,
.bd-example > .alert + .alert,
.bd-example > .navbar + .navbar,
.bd-example > .progress + .progress {
  margin-top: 1rem;
}
.bd-example > .dropdown-menu {
  position: static;
  display: block;
}
.bd-example > :last-child,
.bd-example > nav:last-child .breadcrumb {
  margin-bottom: 0;
}
.bd-example > hr:last-child {
  margin-bottom: 1rem;
}
.bd-example > svg + svg,
.bd-example > img + img {
  margin-left: 0.5rem;
}
.bd-example > .btn,
.bd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}
.bd-example > .btn-toolbar + .btn-toolbar {
  margin-top: 0.5rem;
}
.bd-example > .list-group {
  max-width: 400px;
}
.bd-example > [class*="list-group-horizontal"] {
  max-width: 100%;
}
.bd-example .fixed-top,
.bd-example .sticky-top {
  position: static;
  margin: calc(var(--bd-example-padding) * -1)
    calc(var(--bd-example-padding) * -1) var(--bd-example-padding);
}
.bd-example .fixed-bottom,
.bd-example .sticky-bottom {
  position: static;
  margin: var(--bd-example-padding) calc(var(--bd-example-padding) * -1)
    calc(var(--bd-example-padding) * -1);
}
.bd-example .pagination {
  margin-bottom: 0;
}
.bd-example-row [class^="col"],
.bd-example-cols [class^="col"] > *,
.bd-example-cssgrid [class*="grid"] > * {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(var(--bd-violet-rgb), 0.15);
  border: 1px solid rgba(var(--bd-violet-rgb), 0.3);
}
.bd-example-row .row + .row,
.bd-example-cssgrid .grid + .grid {
  margin-top: 1rem;
}
.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(var(--bd-violet-rgb), 0.15);
}
.bd-example-flex div:not(.vr) {
  background-color: rgba(var(--bd-violet-rgb), 0.15);
  border: 1px solid rgba(var(--bd-violet-rgb), 0.3);
}
.example-container {
  width: 800px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.example-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.example-content-main {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 576px) {
  .example-content-main {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .example-content-main {
    flex: 0 0 auto;
    width: 66.666667%;
  }
}
.example-content-secondary {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 576px) {
  .example-content-secondary {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .example-content-secondary {
    flex: 0 0 auto;
    width: 33.333333%;
  }
}
.bd-example-ratios .ratio {
  display: inline-block;
  width: 10rem;
  color: var(--bs-secondary-color);
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.bd-example-ratios .ratio > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bd-example-ratios-breakpoint .ratio-4x3 {
  width: 16rem;
}
@media (min-width: 768px) {
  .bd-example-ratios-breakpoint .ratio-4x3 {
    --bs-aspect-ratio: 50%;
  }
}
.bd-example-offcanvas .offcanvas {
  position: static;
  display: block;
  height: 200px;
  visibility: visible;
  transform: translate(0);
}
.tooltip-demo a {
  white-space: nowrap;
}
.tooltip-demo .btn {
  margin: 0.25rem 0.125rem;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
.scrollspy-example {
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}
.scrollspy-example-2 {
  height: 350px;
  overflow: auto;
}
.simple-list-example-scrollspy .active {
  background-color: rgba(var(--bd-violet-rgb), 0.15);
}
.bd-example-border-utils [class^="border"] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  background-color: var(--bs-tertiary-bg);
}
.bd-example-rounded-utils [class*="rounded"] {
  margin: 0.25rem;
}
.bd-example-position-utils {
  position: relative;
  padding: 2rem;
}
.bd-example-position-utils .position-relative {
  height: 200px;
  background-color: var(--bs-tertiary-bg);
}
.bd-example-position-utils .position-absolute {
  width: 2rem;
  height: 2rem;
  background-color: var(--bs-body-color);
  border-radius: 0.375rem;
}
.bd-example-position-examples::after {
  content: none;
}
.bd-example-placeholder-cards::after {
  display: none;
}
.bd-example-placeholder-cards .card {
  width: 18rem;
}
.bd-example-toasts {
  min-height: 240px;
}
.bd-example-zindex-levels {
  min-height: 15rem;
}
.bd-example-zindex-levels > div {
  color: var(--bs-body-bg);
  background-color: var(--bd-violet);
  border: 1px solid var(--bd-purple);
}
.bd-example-zindex-levels > div > span {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.bd-example-zindex-levels > :nth-child(2) {
  top: 3rem;
  left: 3rem;
}
.bd-example-zindex-levels > :nth-child(3) {
  top: 4.5rem;
  left: 4.5rem;
}
.bd-example-zindex-levels > :nth-child(4) {
  top: 6rem;
  left: 6rem;
}
.bd-example-zindex-levels > :nth-child(5) {
  top: 7.5rem;
  left: 7.5rem;
}
.highlight {
  position: relative;
  padding: 0.75rem 1.5rem;
  background-color: var(--bd-pre-bg);
}
@media (min-width: 768px) {
  .highlight {
    padding: 0.75rem 1.25rem;
    border-radius: calc(var(--bs-border-radius) - 1px);
  }
}
@media (min-width: 992px) {
  .highlight pre {
    margin-right: 1.875rem;
  }
}
.highlight pre {
  padding: 0.25rem 0 0.875rem;
  margin-top: 0.8125rem;
  margin-bottom: 0;
  overflow: overlay;
  white-space: pre;
  background-color: transparent;
  border: 0;
}
.highlight pre code {
  font-size: inherit;
  color: var(--bs-body-color);
  word-wrap: normal;
}
.bd-example-snippet .highlight pre {
  margin-right: 0;
}
.highlight-toolbar {
  background-color: var(--bd-pre-bg);
}
.highlight-toolbar + .highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 768px) {
  .bd-file-ref .highlight-toolbar {
    border-top-left-radius: calc(var(--bs-border-radius) - 1px);
    border-top-right-radius: calc(var(--bs-border-radius) - 1px);
  }
}
.posts .bd-code-snippet {
  margin-bottom: 1rem;
}
.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;
}
.bd-clipboard + .highlight,
.bd-edit + .highlight {
  margin-top: 0;
}
@media (min-width: 768px) {
  .bd-clipboard,
  .bd-edit {
    display: block;
  }
}
.btn-clipboard,
.btn-edit {
  display: block;
  padding: 0.5em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bd-pre-bg);
  border: 0;
  border-radius: 0.25rem;
}
.btn-clipboard:hover,
.btn-edit:hover {
  color: var(--bs-link-hover-color);
}
.btn-clipboard:focus,
.btn-edit:focus {
  z-index: 3;
}
.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-right: 0.75rem;
}
.bd-footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}
.bd-footer a:hover,
.bd-footer a:focus {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
}
.bd-navbar {
  padding: 0.75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(
    rgba(var(--bd-violet-rgb), 1),
    rgba(var(--bd-violet-rgb), 0.95)
  );
}
@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
    width: 4.25rem;
  }
}
.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -0.5rem;
  border: 0;
}
.bd-navbar .navbar-toggler:first-child {
  margin-left: -0.5rem;
}
.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}
.bd-navbar .navbar-toggler:focus {
  box-shadow: none;
}
.bd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .bd-navbar .navbar-brand {
    transition: none;
  }
}
.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1);
}
.bd-navbar .navbar-toggler,
.bd-navbar .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  color: rgba(255, 255, 255, 0.85);
}
.bd-navbar .navbar-toggler:hover,
.bd-navbar .navbar-toggler:focus,
.bd-navbar .nav-link:hover,
.bd-navbar .nav-link:focus {
  color: #fff;
}
.bd-navbar .navbar-toggler.active,
.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}
.bd-navbar .navbar-nav-svg {
  display: inline-block;
  vertical-align: -0.125rem;
}
.bd-navbar .offcanvas-lg {
  background-color: var(--bd-violet-bg);
  border-left: 0;
}
@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
    box-shadow: var(--bs-box-shadow-lg);
  }
}
.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0;
}
.bd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: 0.25rem;
  --bs-dropdown-padding-y: 0.25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), 0.1);
  --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
  --bs-dropdown-font-size: 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--bs-box-shadow);
}
.bd-navbar .dropdown-menu li + li {
  margin-top: 0.125rem;
}
.bd-navbar .dropdown-menu .dropdown-item {
  border-radius: 0.25rem;
}
.bd-navbar .dropdown-menu .dropdown-item:active .bi {
  color: inherit !important;
}
.bd-navbar .dropdown-menu .active {
  font-weight: 600;
}
.bd-navbar .dropdown-menu .active .bi {
  display: block !important;
}
.bd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem;
}
.bd-navbar hr {
  margin: 1rem 0;
}
[data-bs-theme="dark"] .bd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.pagination {
  margin-right: -1rem;
  margin-left: -1rem;
  overflow: hidden;
  color: var(--bs-body-color);
  text-align: center;
}
.pagination-item {
  position: relative;
  display: block;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid var(--bs-border-color);
}
.pagination-item:first-child {
  margin-bottom: -1px;
}
a.pagination-item:hover {
  z-index: 2;
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
