/* 1 */
/* :root,
[data-bs-theme="light"] {
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #666;
  --base05: #333;
  --base06: #fff;
  --base07: #13795b;
  --base08: #c6303e;
  --base09: #087990;
  --base0A: #6f42c1;
  --base0B: #084298;
  --base0C: #084298;
  --base0D: #6f42c1;
  --base0E: #ab296a;
  --base0F: #333;
}
[data-bs-theme="dark"] {
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #868e96;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #feb272;
  --base08: #6edff6;
  --base09: #feb272;
  --base0A: #ffe69c;
  --base0B: #79dfc1;
  --base0C: #79dfc1;
  --base0D: #6ea8fe;
  --base0E: #c29ffa;
  --base0F: #ea868f;


[data-bs-theme="dark"] .language-diff .gd {
  color: #e35d6a;
}
[data-bs-theme="dark"] .language-diff .gi {
  color: #479f76;
}
.hl {
  background-color: var(--base02);
}
.c {
  color: var(--base03);
}


.err {
  color: var(--base08);
}
.k {
  color: var(--base0E);
}
.l {
  color: var(----base09);
}
.n {
  color: var(--base08);
}
.o {
  color: var(--base05);
}
.p {
  color: var(--base05);
}
.cm {
  color: var(--base04);
}
.cp {
  color: var(--base08);
}
.c1 {
  color: var(--base03);
}
.cs {
  color: var(--base04);
}
.gd {
  color: var(--base08);
}
.ge {
  font-style: italic;
}
.gh {
  font-weight: 600;
  color: var(--base0A);
}
.gi {
  color: var(--bs-success);
}
.gp {
  font-weight: 600;
  color: var(--base04);
}
.gs {
  font-weight: 600;
}
.gu {
  font-weight: 600;
  color: var(--base0C);
}
.kc {
  color: var(--base0E);
}
.kd {
  color: var(--base0E);
}
.kn {
  color: var(--base0C);
}


.kp {
  color: var(--base0E);
}
.kr {
  color: var(--base0E);
}
.kt {
  color: var(--base0A);
}
.ld {
  color: var(--base0C);
}
.m {
  color: var(--base09);
}
.s {
  color: var(--base0C);
}
.na {
  color: var(--base0A);
}
.nb {
  color: var(--base05);
}
.nc {
  color: var(--base07);
}
.no {
  color: var(--base08);
}
.nd {
  color: var(--base07);
}
.ni {
  color: var(--base08);
}
.ne {
  color: var(--base08);
}
.nf {
  color: var(--base0B);
}
.nl {
  color: var(--base05);
}
.nn {
  color: var(--base0A);
}
.nx {
  color: var(--base0A);
}
.py {
  color: var(--base08);
}
.nt {
  color: var(--base08);
}
.nv {
  color: var(--base08);
}
.ow {
  color: var(--base0C);
}
.w {
  color: #fff;
}
.mf {
  color: var(--base09);
}
.mh {
  color: var(--base09);
}
.mi {
  color: var(--base09);
}
.mo {
  color: var(--base09);
}
.sb {
  color: var(--base0C);
}
.sc {
  color: #fff;
}
.sd {
  color: var(--base04);
}
.s2 {
  color: var(--base0C);
}
.se {
  color: var(--base09);
}
.sh {
  color: var(--base0C);
}
.si {
  color: var(--base09);
}
.sx {
  color: var(--base0C);
}
.sr {
  color: var(--base0C);
}
.s1 {
  color: var(--base0C);
}
.ss {
  color: var(--base0C);
}
.bp {
  color: var(--base05);
}
.vc {
  color: var(--base08);
}
.vg {
  color: var(--base08);
}
.vi {
  color: var(--base08);
}
.il {
  color: var(--base09);
}
.m + .o {
  color: var(--base03);
}

.language-sh .c {
  color: var(--base03);
}
.chroma .language-bash .line::before,
.chroma .language-sh .line::before {
  color: var(--base03);
  content: "$ ";
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chroma .language-powershell::before {
  color: var(--base0C);
  content: "PM> ";
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
a {
  -webkit-text-decoration-color: rgba(var(--bs-link-color-rgb), 0.25);
  text-decoration-color: rgba(var(--bs-link-color-rgb), 0.25);
  text-underline-offset: 0.25rem;
}
a:hover,
a:focus {
  -webkit-text-decoration-color: rgba(var(--bs-link-color-rgb), 0.5);
  text-decoration-color: rgba(var(--bs-link-color-rgb), 0.5);
}
.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}
.sidebar-nav {
  --bs-nav-link-color: var(--bs-body-color);
  --bs-nav-link-hover-color: var(--bs-emphasis-color);
}
.sidebar-nav .nav-link {
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
}
.sidebar-nav .nav-link:not(.active):hover,
.sidebar-nav .nav-link:not(.active):focus {
  background-color: rgba(var(--bd-violet-rgb), 0.05);
}
.sidebar-nav .nav-link.active {
  color: var(--bs-emphasis-color);
  background-color: rgba(var(--bd-violet-rgb), 0.1);
}









} */

/* 1 */

/* 2 */

/*
.ratio {
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #000;
  border-radius: 0.5rem;
}

.page-videos .ratio {
  margin-top: 0.5rem;
}
.masthead {
  overflow: hidden;
}

@media (min-width: 768px) {
  .masthead {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
  }
}









*/

.bd-booticon {
  margin-left: -0.75rem;
  transform: rotate(-5deg);
}
@media (max-width: 1024px) {
  .bd-booticon {
    width: 128px;
    height: auto;
  }
}
.btn-download-link {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin-right: 0.25rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--bs-primary);
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}
.btn-download-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #005580;
}
.btn-link-ratchet {
  background-color: #b60c32;
}
.btn-link-ratchet:hover {
  background-color: #0f1953;
}
.list {
  padding-left: 0;
  list-style: none;
}
.list li {
  display: block;
  margin-bottom: 0.5rem;
}
.list span {
  float: right;
  color: var(--bs-gray-600);
}
hr {
  margin-block: 2rem;
}
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* 2 */
table {
  font-size: 0.875rem;
}
table tbody {
  border-top: 2px solid currentcolor;
}
.content {
  grid-template-columns: 1.15fr 3fr;
  gap: 3rem;
}
.posts-container {
  max-width: 760px;
}
.bd-gutter {
  --bs-gutter-x: 3rem;
}
.page,
.post {
  margin-bottom: 4em;
}
.page-title,
.post-title,
.post-title a {
  color: var(--bs-emphasis-color);
}
.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #767676;
}
.post a {
  word-break: break-word;
}
.post li {
  margin-bottom: 0.25rem;
}
.post h2,
.post .h2 {
  margin-top: 1.5rem;
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .post h2,
  .post .h2 {
    font-size: 1.75rem;
  }
}
.post h3,
.post .h3 {
  margin-top: 1.5rem;
}
.post > h1,
.post > .h1,
.post > h2,
.post > .h2,
.post > h3,
.post > .h3,
.post > h4,
.post > .h4 {
  color: var(--bs-emphasis-color);
}
.related {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--bs-border-color);
}
.related-posts a {
  text-decoration: none;
}
.post > p:first-of-type,
.post > img:first-child + p {
  font-size: 133.333333%;
}
.bd-text-purple {
  color: var(--bd-violet);
}
