:root {
  --gutter: 20px;
  --bg: #5b9c5a;
  --color2: #5af7bb;
  --color3: #16d8fa;
  --color4: #2124ee;
}

section {
  padding: 50px 0;
}

header {
  padding: 50px 0;
}

header,
footer {
  max-width: 1200px;
  margin: 0 auto;
  background: url(../imges/pattern.png), var(--color3);
  background: url(../imges/pattern.png),
    linear-gradient(to left, var(--color3) 0%, var(--color4) 100%);
  background-size: contain;
}

.col-1 {
  width: calc(8.3% - var(--gutter));
}
.col-2 {
  width: calc(16.66% - var(--gutter));
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-4 {
  width: calc(33.33% - var(--gutter));
}
.col-5 {
  width: calc(41.66% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-7 {
  width: calc(58.33% - var(--gutter));
}
.col-8 {
  width: calc(66.66% - var(--gutter));
}
.col-9 {
  width: calc(75% - var(--gutter));
}
.col-10 {
  width: calc(83.33% - var(--gutter));
}
.col-11 {
  width: calc(91.66% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
.a {
  background-color: var(--color2);
}
.b {
  background-color: var(--color3);
}
.c {
  background-color: var(--color4);
}
