:root {
  --color11: #05b1b1;
  --color12: #52339a;
  --color13: #eee;
  --color14: url(../imges/pattern.png),
    linear-gradient(to left, var(--color1) 0%, var(--color2) 100%);
}
section {
  padding: 50px 0;
}
header {
  padding: 50px 0;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-bottom: var(--gap);
  color: #fff;
}
header,
footer {
  background: url(../imges/pattern.png), var(--color11);
  background: url(../imges/pattern.png),
    linear-gradient(to left, var(--color11) 0%, var(--color12) 100%);
  background-size: contain;
}
.container-fluid {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

header .container-fluid {
  background-color: var(--color14);
}

.a {
  background-color: var(--color11);
}

.b {
  background-color: #e57316;
}

footer .container-fluid {
  background-color: #0070c0;
}

.a1 {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.a2 {
  background-color: rgba(255, 255, 255, 0.8);
}

.a3 {
  background-color: rgba(255, 255, 255, 0.6);
}

.a4 {
  background-color: rgba(255, 255, 255, 0.4);
}

.a5 {
  background-color: rgba(255, 255, 255, 0.2);
}

.a6 {
  background-color: rgba(255, 255, 255, 0);
}

.b1 {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.b2 {
  background-color: rgba(255, 255, 255, 0.66);
}

.b3 {
  background-color: rgba(255, 255, 255, 0.33);
}

.b4 {
  background-color: rgba(255, 255, 255, 0);
}
.f {
  background-color: var(--color4);
}

.logo {
  float: left;
  margin: 0 20px;
  width: 20%;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}
nav a {
  text-decoration: none;
  line-height: 38px;
}
