:root {
  --gutter: 20px;
  --bg: #5b9c5a;
  --color2: #5af7bb;
  --color3: #16d8fa;
  --color4: #2124ee;
  --colorMain1: #eee;
}

section {
  padding: 50px 50px;
  max-width: 1200px;
  margin: 0 auto;
  background: url(../imges/pattern.png), var(--color3);
  background: url(../imges/pattern.png),
    linear-gradient(to left, var(--color3) 0%, var(--color4) 100%);
  background-size: contain;
}
.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.colorMain1 {
  color: var(--colorMain1);
}

.bg2 {
  background-color: var(--color2);
}
.bg3 {
  background-color: var(--color3);
}
.bg4 {
  background-color: var(--color4);
}

.col-1 {
  width: calc(8.3% - var(--gutter));
}
.col-2 {
  width: calc(16.66% - var(--gutter));
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-4 {
  width: calc(33.33% - var(--gutter));
}
.col-5 {
  width: calc(41.66% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-7 {
  width: calc(58.33% - var(--gutter));
}
.col-8 {
  width: calc(66.66% - var(--gutter));
}
.col-9 {
  width: calc(75% - var(--gutter));
}
.col-10 {
  width: calc(83.33% - var(--gutter));
}
.col-11 {
  width: calc(91.66% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
.a {
  background-color: var(--color2);
}
.b {
  background-color: var(--color3);
}
.c {
  background-color: var(--color4);
}
.main1 {
  background-color: var(--colorMain1);
}
