:root {
  --gutter: 20px;
  --bg: #5b9c5a;
  --color2: #5af7bb;
  --color3: #16d8fa;
  --color4: #2124ee;
  --colorMain1: #eee;
}

section {
  padding: 0;
  max-width: 1200px;
  margin: 20px auto;
  background: url(../imges/pattern.png), var(--color3);
  background: url(../imges/pattern.png),
    linear-gradient(to left, var(--color3) 0%, var(--color4) 100%);
  background-size: contain;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container_text {
  margin: 20px auto;
  inline-size: 100%;
  padding: 30px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}

span {
  font-size: 18px;
  color: #d13708;
  background: #e3f1fa;
}
.spanR {
  font-size: 18;
  color: #63ebeb;
  background: rgb(0, 0, 0);
}
.anchor {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a0b0bb),
    to(#3e5d75)
  );
  background: linear-gradient(to right, #a0b0bb, #3e5d75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
kbd {
  background: var(--prcd-kbd-bg, #dcdcdc);
  border-width: 3px 4px 5px;
  border-style: solid;
  border-color: var(--prcd-kbd-brdc, #cdcdcd #c9c9c9 #c0c0c0);
  padding: 0 10px;
  font-size: 14px;
  color: var(--prcd-kbd-color, #333);
  border-radius: 3px;
  line-height: 36px;
}

.ramka {
  font-size: 16px;
  background-color: #000;
  color: #eee;
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  margin: 20px 0 20px 0;
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.colorMain1 {
  color: var(--colorMain1);
}

.bg2 {
  background-color: var(--color2);
}
.bg3 {
  background-color: var(--color3);
}
.bg4 {
  background-color: var(--color4);
}

.col-1 {
  width: calc(8.3% - var(--gutter));
}
.col-2 {
  width: calc(16.66% - var(--gutter));
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-4 {
  width: calc(33.33% - var(--gutter));
}
.col-5 {
  width: calc(41.66% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-7 {
  width: calc(58.33% - var(--gutter));
}
.col-8 {
  width: calc(66.66% - var(--gutter));
}
.col-9 {
  width: calc(75% - var(--gutter));
}
.col-10 {
  width: calc(83.33% - var(--gutter));
}
.col-11 {
  width: calc(91.66% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
.a {
  background-color: var(--color2);
}
.b {
  background-color: var(--color3);
}
.c {
  background-color: var(--color4);
}
.main1 {
  background-color: var(--colorMain1);
}
.footer {
  color: #dcdcdc;
}
