:root {
  --color1: #05b1b1;
  --color2: #52339a;
  --color3: #eee;
}
section {
  padding: 100px 0;
}
header {
  padding: 200px 0;
}
header,
footer {
  background: url(../img/pattern.png), var(--color1);
  background: url(../img/pattern.png),
    linear-gradient(to left, var(--color1) 0%, var(--color2) 100%);
  background-size: contain;
}
.container-fluid {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
}

header .container-fluid {
  background-color: #00b0f0;
}

.a {
  background-color: #7030a0;
}

.b {
  background-color: #e57316;
}

footer .container-fluid {
  background-color: #0070c0;
}

.a1 {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.a2 {
  background-color: rgba(255, 255, 255, 0.8);
}

.a3 {
  background-color: rgba(255, 255, 255, 0.6);
}

.a4 {
  background-color: rgba(255, 255, 255, 0.4);
}

.a5 {
  background-color: rgba(255, 255, 255, 0.2);
}

.a6 {
  background-color: rgba(255, 255, 255, 0);
}

.b1 {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.b2 {
  background-color: rgba(255, 255, 255, 0.66);
}

.b3 {
  background-color: rgba(255, 255, 255, 0.33);
}

.b4 {
  background-color: rgba(255, 255, 255, 0);
}
